# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so

# Virtual env
venv/
.env
.env/
.env*/
.envrc

# Claude Code
.claude/

# Django
db.sqlite3
db.sqlite3-journal
*.log

*/migrations/__pycache__/
# Volitelné, pokud nechceš verzovat migrace:
# *migrations/*

# Static & media
static/favicon*
static/apple-touch-icon.png
static/logo.svg
!static/favicon*
!static/apple-touch-icon.png
!static/logo.svg
staticfiles/
!staticfiles/favicon*
!staticfiles/apple-touch-icon.png
!staticfiles/logo.svg
media/
uploads/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/

# PyCharm / IntelliJ IDEA
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/dataSources.xml

# Pip / Build
pip-log.txt
pip-delete-this-directory.txt
build/
dist/
downloads/
eggs/
.eggs/
parts/
var/
*.egg-info/
.installed.cfg
*.egg

# Node (tailwind / js build)
node_modules/
npm-debug.log
yarn-error.log